import { type ComponentProps } from 'react';
import { type VariantProps } from 'class-variance-authority';
import { cn } from '@redotlabs/utils';
import { {{camelCase componentName}}Variants } from '@/ui/src/{{kebabCase componentName}}/{{kebabCase componentName}}.variants';


type {{pascalCase componentName}}Variants = VariantProps<typeof {{camelCase componentName}}Variants>;

interface {{pascalCase componentName}}Props extends ComponentProps<'div'>, {{pascalCase componentName}}Variants {
  /**
   * {{description}}
   */
  children?: React.ReactNode;
}

function {{pascalCase componentName}}({
  className,
  variant,
  size,
  children,
  ...props
}: {{pascalCase componentName}}Props) {
  return (
    <div
      data-slot="{{kebabCase componentName}}"
      className={cn({{camelCase componentName}}Variants({ variant, size, className }))}
      {...props}
    >
      {children}
    </div>
  );
}

export { {{pascalCase componentName}}, {{camelCase componentName}}Variants };
export type { {{pascalCase componentName}}Variants, {{pascalCase componentName}}Props };