import { {{pascalCase componentName}} } from './{{kebabCase componentName}}';
import { {{camelCase componentName}}VariantsOptions } from './{{kebabCase componentName}}.variants';
import { Meta } from '@storybook/react-vite';

const meta: Meta<typeof {{pascalCase componentName}}> = {
  title: 'Components/{{pascalCase componentName}}',
  component: {{pascalCase componentName}},
  parameters: {
    layout: 'centered',
    docs: {
      description: {
        component: 'Redot {{description}} Component',
      },
    },
  },
  tags: ['autodocs'],
  argTypes: {
    variant: {
      control: {
        type: 'inline-radio',
      },
      defaultValue: {{camelCase componentName}}VariantsOptions.defaultVariants.variant,
      description: 'The variant of the {{pascalCase componentName}}',
      table: {
        type: {
          summary: Object.keys({{camelCase componentName}}VariantsOptions.variants.variant).join(
            ' | '
          ),
        },
        defaultValue: {
          summary: {{camelCase componentName}}VariantsOptions.defaultVariants.variant,
        },
      },
      options: Object.keys({{camelCase componentName}}VariantsOptions.variants.variant),
    },
    size: {
      control: {
        type: 'inline-radio',
      },
      defaultValue: {{camelCase componentName}}VariantsOptions.defaultVariants.size,
      table: {
        type: {
          summary: Object.keys({{camelCase componentName}}VariantsOptions.variants.size).join(' | '),
        },
        defaultValue: { summary: {{camelCase componentName}}VariantsOptions.defaultVariants.size },
      },
      description: 'The size of the {{pascalCase componentName}}',
      options: Object.keys({{camelCase componentName}}VariantsOptions.variants.size),
    },
    children: {
      control: {
        type: 'text',
      },
      description: 'The content of the {{pascalCase componentName}}',
    },
  },
  // Use `fn` to spy on the onClick arg, which will appear in the actions panel once invoked: https://storybook.js.org/docs/essentials/actions#action-args
  // args: { onClick: fn() },
};

export default meta;

export const Default = {
  args: {
    children: '{{pascalCase componentName}} Component',
    variant: {{camelCase componentName}}VariantsOptions.defaultVariants.variant,
    size: {{camelCase componentName}}VariantsOptions.defaultVariants.size,
  },
};

export const Variants = {
  args: {
    children: '{{pascalCase componentName}} Component',
    variant: {{camelCase componentName}}VariantsOptions.defaultVariants.variant,
    size: {{camelCase componentName}}VariantsOptions.defaultVariants.size,
  },
  render: (args) => (
    <div className="flex items-center gap-4">
      <{{pascalCase componentName}} {...args} />
      {/* Add more variants here when they are defined */}
    </div>
  ),
};

export const Sizes = {
  args: {
    children: '{{pascalCase componentName}} Component',
    variant: {{camelCase componentName}}VariantsOptions.defaultVariants.variant,
    size: {{camelCase componentName}}VariantsOptions.defaultVariants.size,
  },
  render: (args) => (
    <div className="flex items-center gap-4">
      <{{pascalCase componentName}} {...args} />
      {/* Add more sizes here when they are defined */}
    </div>
  ),
};